-r requirements.txt

# Development server utilities
django-debug-toolbar==4.2.0
django-extensions==3.2.3
ipython==8.22.1

# Testing
pytest==8.0.2
pytest-django==4.8.0
pytest-cov==4.1.0
factory-boy==3.3.0
faker==22.0.0

# Code Quality
black==24.3.0
isort==5.13.2
flake8==7.0.0

# Git hooks
pre-commit==3.6.2
